.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/********************************************************************************
              GENERAL CLASSES
*********************************************************************************/
.error-message{
  color:red;
}

button{
  width: 200px;
  height: 30px;
  border: none;
  text-align:center;
  background-color: #33658A;
  color: #D6F0FF;
}

button:hover{
  cursor:pointer;
}
/********************************************************************************
              LOGIN CLASSES
*********************************************************************************/
h2{
  text-align:center;
}

.span-label{
  display:inline-block;
  min-width:100px;
  text-align:right;
}

.input-text{
  margin: 5px 10px;
}

.button{
  width:40%;
  margin: 10px;
}

.center{
  margin: 0 auto;
  width:25%;
}

.login-nav-container{
  width:100%;
  text-align:center;
  background-color: #33658A;
  color: #D6F0FF;
  padding: 5px 0;
}

.login-nav-container a{
  color: #D6F0FF;
  padding: 0 10px;
}

/********************************************************************************
              HEADER AND FOOTER CLASSES
*********************************************************************************/
.header{
  text-align: center;
  width:100%;
  background-color: #33658A;
  color: #D6F0FF;
  height: 100px;
  line-height: 100px;
  font-size: 25px;
  font-weight: bold;
}

.footer{
  text-align: center;
  width:100%;
  background-color: #33658A;
  color: #D6F0FF;
  bottom: 0px;
  position: absolute;
  height: 60px;
  padding: 10px 0;
}

/*********************************************************
                  REGISTER CLASSES
*********************************************************/

.center-form{
  margin: 0 auto;
  padding: 25px;
  text-align:center;
}
