.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/********************************************************************************
              GENERAL CLASSES
*********************************************************************************/
.error-message{
  color:red;
}

.success-message{
  color:green;
}

button, a{
  width: 200px;
  height: 30px;
  border: none;
  text-align:center;
  background-color: #33658A;
  color: #D6F0FF;
}

button:hover{
  cursor:pointer;
}

.full-width{
  width:50%;
  margin: 0 auto;
}

.theme{
  background-color: #33658A;
  color: #D6F0FF;
}
/********************************************************************************
              LOGIN CLASSES
*********************************************************************************/
h2{
  text-align:center;
}

.span-label{
  display:inline-block;
  min-width:100px;
  text-align:right;
}

.input-text{
  margin: 5px 10px;
}

.button{
  width:100%;
  margin: 10px;
  display:inline-block;
  font-size: 12px;
}

.center{
  margin: 0 auto;
  width:25%;
}

.login-nav-container{
  width:100%;
  text-align:center;
  background-color: #33658A;
  color: #D6F0FF;
  padding: 5px 0;
}

.login-nav-container a{
  color: #D6F0FF;
  padding: 0 10px;
}

.register{
  text-decoration: none;
}

/********************************************************************************
              HEADER AND FOOTER CLASSES
*********************************************************************************/
.header{
  text-align: center;
  width:100%;
  background-color: #33658A;
  color: #D6F0FF;
  height: 100px;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
}

.footer{
  text-align: center;
  width:100%;
  background-color: #33658A;
  color: #D6F0FF;
  bottom: 0px;
  position: relative;
  /* height: 60px; */
  padding: 10px 0;
}

/*********************************************************
                  REGISTER CLASSES
*********************************************************/

.center-form{
  margin: 0 auto;
  /* padding: 25px; */
  text-align:center;
}

/**********************************************************
                  PROJECT TABLE CONTAINER CLASSES
**********************************************************/
.add-project-container{
  float:right;
}

.project-headers-container{
  clear:both;
}

.project-table-container{
  width:75%;
  margin:0 auto;
  padding:10px;
}

.project-full-container{
  width:100%;
  margin:10px;
  border:1px solid black;
}

.project-row-container{
  background-color: #33658A;
  color: #D6F0FF;
  width:100%;
  height:50px;
}

.project-task-container{
  background-color: white;
  width:100%;
  /* padding: 5px 0; */
}

.project-column{
  padding-top:15px;
  display:inline-block;
}

.project-header{
  font-weight: bold;
}

.project-hide-show-header{
  width:15%;
  text-align: center;
}

.project-name{
  width: 30%;
}

.project-name-header{
  text-align: center;
}

.project-start-date{
  width:25%;
}

.project-end-date{
  width:25%;
}

.project-task-row{
  border-top: 1px solid black;
  padding: 5px;
}

/***********************************************************

        MODAL CLASSES

***********************************************************/
.center-modal{
  width: 50%;
  margin: 0 auto;
}


/**********************************************************
      MAIN PAGE CLASSES
***********************************************************/
#main-navbar-dropdown{
  background-color: #33658A;
}

.main-navbar-dropdown-links{
  padding:10px;
  line-height:10px;
  background-color: #33658A;
  color: #D6F0FF;
}